@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom css tailwind library */
@layer base {
    h1 {
        font-size: 32px;
        font-weight: 600;
    }
    h2 {
        @apply text-xl;
    }
    button, [type='button'], [type='reset'], [type='submit'] {
        @apply bg-blue-600;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    background: #f5f5f5;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
}

a {
    color: #1677ff;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: #333;
        background: white;
    }
}

.max_w_414px {
    max-width: 414px;
}

.max_width_mobile {
    max-width: 414px;
}

.h_100vh {
    height: 100vh;
}

.form_control {
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    padding-left: 8px;
    font-size: 12px;
    width: 100%;
    max-width: 100%;
}

.mb-1 {
    margin-bottom: 1rem;
}

.line-clamp-1, .line-clamp-2 {
    overflow: hidden!important;
    display: -webkit-box!important;
    -webkit-box-orient: vertical!important;
}
.line-clamp-1 {
    -webkit-line-clamp: 1!important;
}
.line-clamp-2 {
    -webkit-line-clamp: 2!important;
}

/* custom modal antd */
.adm-modal-content {
  font-size: 14px !important;
  padding: 0 15px !important;
}
.modalMobile {
  z-index: 1002;
  .adm-mask.adm-center-popup-mask {
    max-width: 414px;
    margin-left: calc((100% - 414px) / 2);
  }
  .adm-center-popup-wrap {
    max-width: 414px;
    width: 100%;
    height: 100vh;
    > div {
      height: 100vh;
      .adm-center-popup-body {
        height: 100vh;
        max-height: 100vh;
        border-radius: 0;
      }
    }
  }
}
/* End custom modal antd */